{% extends 'base.html' %}
{% block menu %}
   <li><a href="{% url 'task_add' %}">Add Task</a></li>
{% endblock %}
{% block content %}
    <h1 class='task'>Tasks:</h1>
    <hr/>
    {% for task in tasks %}
        <h2>{{ task.summary }}</h2>
        <div>{{ task.description }}</div>
        <div>{{ task.status }}</div>
         {% for task_type in task.type.all %}
                <div>{{ task_type }}</div>
        {% endfor %}
        <div>{{ task.created_at }}</div>
        <p><a href="{% url 'detail_task' task.pk %}">More...</a></p>
        <hr/>
    {% endfor %}
{% endblock %}